COMPOSE_PROFILES=debug
SERVER_PORT=3000

SERVER_ADDRESS=localhost:3000
FRONTEND_ADDRESS=localhost:3001

ELASTIC_PASSWORD=pass

POSTGRES_HOST=postgres

APP_ADMIN_USERNAME=admin1
APP_ADMIN_PASSWORD=password1
